{% extends "home.html" %}


{% block css %}
<style>
    .product-page{
        height:180px;
        width:;
        border-radius:10px;
        transition:0.3s;
        margin:1px 7px;
        padding:1px 3px;
        margin-right:7px;
       
        
        
        
        
        

    }
   
    .body{
        height:200px;
        width:200px;
        padding:10px ;
       
        
        
        margin-left:140px;
       
        
       
    
    }
    .product-page:hover{
       
        background-color:#D3D3D3 ;
        

    }
    .header{
        margin:10px 0px;

    }
    
    .btn-primary{
        height:40px;
        width:80px;
        border-radius:5px;
        padding-top:8px;
        text-align:center;
        text-decoration:none
        
    }
    .button-call{
        margin:-20px 130px;
        
        

    
    }
    .img-body{
        height:180px;
        width:120px;
        color: #4C4646 ;
        margin:10px 0px;
        transition:color box-shaddow0.2s;
        text-decoration:none
       
        
        

    }
    .img-body:hover{
        
        color:#4C4646;
        box-shadow:0 4px 4px 0 rgba(0,0,0,0.3);

    }
   




</style>
{% endblock %}

{% block body %}
    {% for product in product %}
      

<hr/>
<div class="product-page" type="button">
    
    <a class="img-body " href="/products/{{product.slug}}">
        
    
        <img src="        {{product.Product_img.url}}  " height="150" width="100"alt="" align="left" type="button">
        
        <div class="body" id="shrink">
    
        <h5 class="header">    {{product.Product_name}}   </h5>
        <h6 class="price-header">$ {{product.Product_price}}  </h6>
        <p><img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmnVNOS529zusZTsI_zYPxMoQTskR4fB6fzw&usqp=CAU " height="15" width="15"alt="" align="left"style="margin:4px; background-color:white;"> {{product.Address}}    </p>
         
        
     
     
        <div class="button-call">
            
            
            
             <a class="btn-primary "         type="button" href="/user"  value="Call Now">Call Now
        </a>

               
        </div>
        
            
        </div>
       </a>
     </div>
         

          

   

   {% endfor %}


{% endblock %}