
{% extends "User_activity.html" %}


{% block detail_style %}
<style>
    .top-block{
        height:80px;
        width:;
        border:1px solid;
        text-align:center;
        padding-top:30px;
        color:gray;
        background-color:  #f0f8ff  ;
    
    }
    .block{
        height:30px;
        width:;
        margin:0px 0px;
        transition:0.3s;
        
    }
     .block:hover{
        box-shadow:0 4px 4px 0 rgba(0,0,0,0.3);
        border:1px solid;
        background-color:#F0F8FF;

    }
   
    
     .ma3{
        text-decoration:none;
        font-size:15px;
        margin:1px 20px;
        color:black;
         position:absolute;
       
    }
    .ma2{
        text-decoration:none;
        font-size:15px;
        margin:0px 250px;
        color:black;
         position:absolute;
        
    }
      .ma1{
        text-decoration:none;
        font-size:15px;
        margin:1px 300px;
        color:black;
         position:absolute;
        
    }
    
    
    .item2{
        margin-left:100px;

    }
    .item3{
        margin-left:20px;
       
        

    }
    .table{
        box-shadow:0 3px 9px 0 rgba(0,0,0.9,0.3);
        width:;
        text-align:bottom;
       
        height:30px;
        
    }
     
   
  
</style>
{% endblock %}

{% block detail  %}

<div class="top-block">
    <h2>Product You Post</h2>
    
</div>

<div class="table">
    
        <p class="item3"  >Product
</p>
        
    
    
</div>




{% for item in form %}
<div class="block">
    <tr>

    
    
     
    <a class="ma3"href="product-detail/{{item.slug}}">{{item.Product_name}}</a>
     <a class="ma2"href="/seller">add</a>
      <a class="ma1"href="product-detail/{{item.slug}}">Change</a>  
    </tr>
     
</div>


{%  endfor %}
{%  endblock %}
